
/*//.sc-hKFyIo {*/
/*//    color: red*/
/*//}*/
/*//.gWkAoD{*/
/*//    margin-left: 200px;*/
/*//}*/
/*.gWkAoD{*/
/*    margin-left: 10vw;*/
/*    //margin-left: calc((85vw - 101vh) / 2);*/
/*//"translateX(calc((96vw - 105vh) / 2))";*/
/*//    flex-basis: 90%!important;*/
/*    //margin-left: 33px;*/
/*    margin-right: 0;*/
/*}*/

/*.gWjOPI{*/
/*  margin-left: 10vw;*/
/*}*/

/*.sc-gtssRu > div{*/
/*  margin-right: 0;*/
/*}*/




.gWkAoD{
    margin-left: 10vw;
    margin-right: 0;
}

.gWjOPI{
  margin-left: 10vw;
}

.sc-gtssRu > div{
  margin-right: 0;
}


.sPgfr {
    margin-left: 10vw;
    margin-right: 0;
}


.sPgfs{
    margin-left: 10vw;
}
