body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* { cursor: url('./hand1.ico'),default;}


.gWkAoD{
  margin-left: 10vw;
  margin-right: 0;
}

.gWjOPI{
  margin-left: 10vw;
}

.sc-gtssRu > div{
  margin-right: 0;
}


.sPgfr {
  margin-left: 10vw;
  margin-right: 0;
}


.sPgfs{
  margin-left: 10vw;
}
